body, html{
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", "Noto Sans CJK TC", 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

.container{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px){
    max-width: 720px;
  }
  @media (min-width: 992px){
    max-width: 960px;
  }
  @media (min-width: 1200px){
    max-width: 1140px;
  }
  @media (min-width: 1920px){
    max-width: 1800px;
  }
}

.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}

.h1{
  font-size: 48px;
  font-weight: bold;
}
.h2{
  font-size: 40px;
}
.h3{
  font-size: 32px;
  font-weight: normal;
}
.h4{
  font-size: 30px;
}