@import "mixins";
@import "variables";

@font-face{
  font-family: Jaapokki;
  src: url("../assets/font/jaapokki-regular.ttf");
}

body, html{
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", "Noto Sans CJK TC", 微軟正黑體, "Microsoft JhengHei", sans-serif;
  overflow-x: hidden;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px){
    max-width: 720px;
  }
  @media (min-width: 992px){
    max-width: 960px;
  }
  @media (min-width: 1200px){
    max-width: 1140px;
  }
  @media (min-width: 1920px){
    max-width: 1800px;
  }
}

.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}

.margin-bottom{
  margin-bottom: 20px;
}
.margin-none{
  margin: 0;
}

.text-center{
  text-align: center;
}

.text-white{
  color: #fff;
}

.h1{
  @include responsive-font(48px);
  font-weight: bold;
  font-family: Jaapokki;
}
.h2{
  @include responsive-font(40px);
}
.h3{
  @include responsive-font(32px);
  font-weight: normal;
}
.h4{
  @include responsive-font(24px);
  font-size: 30px;
}